---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
import TopImage from "../components/top_image.astro";
import Introduction from "../components/introduction.astro";
import WorkTile from "../components/work_tile.astro";
import WorksButton from "../components/works_button.astro";
import SkillsTile from "../components/skills_tile.astro";
import Footer from "../components/footer.astro";
---

<Layout title="ZIKOSYOUKAI!!">
  <Header />
  <TopImage />
  <Introduction />
  <div class="mt-14 text-2xl font-bold text-center pb-9">WORKS</div>
  <WorkTile />
  <WorkTile />
  <WorkTile />
  <WorksButton />

  <div class="mt-14 text-2xl font-bold text-center pb-9">SKILLS</div>
  <SkillsTile />
  <div class="py-10"></div>
  <Footer />
</Layout>
