<div class="pt-6 px-4 flex justify-center items-center gap-4">
  <div class="rounded-full bg-black w-[64px] h-[64px]"></div>
  <div>
    <div class="text-base font-bold">野村朋生</div>
    <div class="text-[10px]">
      大阪大学工学部電子情報工学科情報システムコース
    </div>
    <p class="mt-4 text-xs">あああああああああああああああああ</p>
    <p class="text-xs">あああああああああああああああああ</p>
    <p class="text-xs">あああああああああああああああああ</p>
  </div>
</div>
