<div class="mx-4 mb-6">
  <div class="rounded-xl bg-white w-full">
    <div class="rounded-xl h-[240px] w-full bg-blue-100"></div>
    <div class="mt-4 text-center text-base font-bold">石橋ごはんルーレット</div>
    <div class="mt-4 text-xs font-bold text-center">
      大阪府池田市石橋地域の飲食店紹介アプリ
    </div>
    <div class="mx-4 mt-2 pb-8">
      <p class="text-xs text-center">
        2023年12月リリース。2023年3月に立ち上げたサークル「ぽちぽちのつどい」にて開発。主な開発を担当。2024年2月〜3月に石橋商店会に協力をいただき、クーポン・キャンペーンを実施。
      </p>
    </div>
  </div>
</div>
